# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment / Secrets
.env
application.properties
application-dev.properties

# H2 Database (se usar)
*.mv.db
*.trace.db
